body {
  width: 100%;
}

header>h1 {
  margin: 5px;
  color: #07c4dd;
  text-transform: capitalize;
}

.page-header {
  background-color: #000;
  margin: 0;
  padding: .75rem;
}

#jumbotron {
  background: url(assets/img/wavey-grid.jpg) center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
}

dialog {
  position: relative;
  border-radius: 10px;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
  max-width: 90vw;
}

dialog>pre {
  white-space: pre-wrap;
}

.dialog-success {
  border-color: rgb(0, 107, 98);
  background-color: rgba(0, 107, 98, 0.6);
  color: white;
}

.dialog-error {
  border-color: #ff3e2c;
  background-color: #ffe8e6;
  color: #ff3e2c;
}

.text-center {
  text-align: center;
}

#spinner-component {
  visibility: hidden;
}

#spinner-component.show-spinner {
  visibility: visible;
}

.loader {
  width: 100%;
  height: 4px;
  background:
    linear-gradient(#07c4dd 0 0) 0/0% no-repeat #ddd;
  animation: l1 4s infinite linear;
}

#map {
  height: 600px;
}

.calendar-container {
  width: 95%;
  height: calc(85vh - 85px);
  margin-left: auto;
  margin-right: auto;
}

.appointment-container {
  margin: 2em;
}

.action-menu {
  margin: 2em;
  text-decoration: none;
}

.action-menu .action-button {
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
  background-color: #07c4dd;
  color: white;
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.action-button-light {
  border-radius: .5rem;
  border: 2px solid black;
  padding: 0.75rem;
}

.action-button-dark {
  background: rgb(44, 62, 80);
  border-radius: .5rem;
  padding: 0.75rem;
  color: white;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px;
  padding-bottom: 1rem;
  text-align: center;
  white-space: nowrap;
}

.navbar a:hover {
  color: black;
  background-color: #07c4dd;
}

#view-code {
  margin-top: 1rem;
}

@keyframes l1 {
  100% {
    background-size: 100%
  }
}

@media (max-width: 669px) {
  .hidden--mobile {
    display: none !important;
  }


  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }

  #about-me img {
    width: 40%;
    height: auto;
    margin-left: 30%;
  }
}

@media (min-width: 670px) {
  nav > ul {
    display: flex;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
    border-radius: 25px;
  }

  nav > .fa-bars {
    display: none;
  }

  #about-me {
    margin-right: 3rem;
  }

  #about-me img {
    float: left;
    width: 25%;
    height: auto;
    margin-right: 1rem;
  }
}
